{% extends 'index.html' %}
{% load static %}

{% block title %}
<h1><title>About-us | Dynamic TechNologies | The best online computer shop in Nairobi</title> </h1>
<meta name="description" content="Dynamic TechNologies is an IT company that was founded in 2017. The main goal was to provide 
		IT solutions to individuals and corporates. Our main areas of specialization are sales and 
		maintenance of computers, laptops, printers, and their accessories. Besides, we have specialized 
		in web design, development and hosting, development, and configuration of point of sales, websites,
		 and email hosting. We have hundreds of happy clients who can testify about our products and services." />
<meta name="keywords" content="computers for sale in Nairobi,laptops for sale in Nairobi,laptop repair in Nairobi ,desktop repairs in Nairobi
,computer repairs in Nairobi,web development in Nairobi,web design in Nairobi, web hosting in Nairobi,new laptops for sale in Nairobi
,printers for sale in Nairobi,online computer shopping,all in one pc nairobi, buy software for computers in nairobi,
cheap desktops in kenya,full computer set price in kenya,where can i buy computer in kenya, all in one pc nairobi,notebook hp celeron,
22 inch price in kenya,cheap desktops in kenya,desktop computers for sale in nairobi,laptop accessories in Nairobi,Which is the best laptop to buy in Kenya,
Where can I buy genuine laptops in Nairobi,Which is the cheapest laptop brand,computers for sale in kenya,best computer shop" />
<meta property="og:site_name" content="Dynamic TechNologies" />
<meta property="og:title" content="About-us | Dynamic TechNologies | The best online computer shop in Nairobi" />
<meta property="og:url" content="https://www.dtechnologies.co.ke/about-us/" />
<meta property="og:type" content="website" />
<meta property="og:description" content="Dynamic TechNologies is an IT company that was founded in 2017. The main goal was to provide 
		IT solutions to individuals and corporates. Our main areas of specialization are sales and 
		maintenance of computers, laptops, printers, and their accessories. Besides, we have specialized 
		in web design, development and hosting, development, and configuration of point of sales, websites,
		 and email hosting. We have hundreds of happy clients who can testify about our products and services." />
<meta property="og:image" content="{% static 'images/favicon.png' %}"/>
<link rel="canonical" href="https://www.dtechnologies.co.ke/about-us/">

<!--for twitter-->
<meta name="twitter:card" content="summary">
<meta name="twitter:site" content="@danni_njaz">
<meta name="twitter:title" content="About-us | Dynamic TechNologies | The best online computer shop in Nairobi">
<meta name="twitter:description" content="Dynamic TechNologies is an IT company that was founded in 2017. The main goal was to provide 
		IT solutions to individuals and corporates. Our main areas of specialization are sales and 
		maintenance of computers, laptops, printers, and their accessories. Besides, we have specialized 
		in web design, development and hosting, development, and configuration of point of sales, websites,
		 and email hosting. We have hundreds of happy clients who can testify about our products and services.">
<meta name="twitter:creator" content="@danni_njaz">
<meta name="twitter:image" content="{% static 'images/favicon.png' %}">
{% endblock title %}
<!-- //Modal2 -->
<!-- /banner_bottom_agile_info -->

{% block content %}
   
   <div class="banner_bottom_agile_info">
	<div class="container">
	   
	<!--about us-->
<div class="footer" style="border-radius: 20%;">
	<div class="footer_agile_inner_info_w3l">
		
	<p style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;font-size:large;color:blue;text-align:center">
		Dynamic TechNologies is an IT company that was founded in 2017. The main goal was to provide 
		IT solutions to individuals and corporates. Our main areas of specialization are sales and 
		maintenance of computers, laptops, printers, and their accessories. Besides, we have specialized 
		in web design, development and hosting, development, and configuration of point of sales, websites,
		 and email hosting. We have hundreds of happy clients who can testify about our products and services.
		</p>
		
		<div class="clearfix"></div>
	
</div>



	<!--about us end-->






	   
	</div>
 <!--//contact-->
<!--/grids-->
<!--grids-->
{% endblock content %}
<!-- footer -->
