{% extends 'index.html' %}
{% load static %}

{% block title %}
<title>Contacts | Dynamic TechNologies | +254-717-828-927</title>
<meta property="og:site_name" content="Dynamic TechNologies" />
<meta property="og:title" content="Contacts | Dynamic TechNologies | +254-717-828-927" />
<meta property="og:url" content="https://www.dtechnologies.co.ke/contacts/" />
<meta property="og:type" content="website" />
<meta property="og:description" content="Give us a call or send us a text message/whatsapp or email us on our contacts details 
provided. We value the time spent serving our customers. we are dedicated to serving our clients, and we are there available for 
consultation whenever our clients needs our assistance." />
<meta property="og:image" content="https://techdemo5115.s3.amazonaws.com/static/images/favicon.png" />
<meta name="keywords" content="Dynamic TechNologies phone number,Dynamic TechNologies email,
		Dynamic TechNologies contacts, Dynamic TechNologies whatsapp number" />
<meta name="description" content="Give us a call or send us a text message/whatsapp or email us on our contacts details 
provided.We value the time spent serving our customers. we are dedicated to serving our clients, and we are there available for 
consultation whenever our clients needs our assistance." />
<link rel="canonical" href="https://www.dtechnologies.co.ke/contacts/">

<!--For twitter-->
<meta name="twitter:card" content="summary">
<meta name="twitter:site" content="@danni_njaz">
<meta name="twitter:title" content="Contacts | Dynamic TechNologies | +254-717-828-927">
<meta name="twitter:description" content="Give us a call or send us a text message/whatsapp or email us on our contacts details 
provided.We value the time spent serving our customers. we are dedicated to serving our clients, and we are there available for 
consultation whenever our clients needs our assistance.">
<meta name="twitter:creator" content="@danni_njaz">
<meta name="twitter:image" content="https://techdemo5115.s3.amazonaws.com/static/images/favicon.png">
{% endblock title %}
<!-- //Modal2 -->
<!-- /banner_bottom_agile_info -->

{% block content %}
<div class="page-head_agile_info_w3l">
		<div class="container">
			<h3><a style="text-decoration:underline" href="#">C<span>ontact Us </span></a></h3>
			<!--/w3_short-->
				 <div class="services-breadcrumb">
						<div class="agile_inner_breadcrumb">

						   <ul class="w3_short">
								<li><a href="/">Home</a><i>|</i></li>
								<li><a href="#">Contact</a></li>
							</ul>
						 </div>
				</div>
	   <!--//w3_short-->
	</div>
</div>
   <!--/contact-->
   
	   <!--<div class="contact-w3-agile1 map" data-aos="flip-right">
			
		   <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d100949.24429313939!2d-122.44206553967531!3d37.75102885910819!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x80859a6d00690021%3A0x4a501367f076adff!2sSan+Francisco%2C+CA%2C+USA!5e0!3m2!1sen!2sin!4v1472190196783" class="map" style="border:0" allowfullscreen=""></iframe>
	   </div>-->
   <div class="banner_bottom_agile_info">
	<div class="container">
	   <div class="agile-contact-grids">
				<div class="agile-contact-left">
					<div class="col-md-6 address-grid">
						<h4>For More <span>Information</span></h4>
							<div class="mail-agileits-w3layouts">
								<i class="fa fa-volume-control-phone" aria-hidden="true"></i>
								<div class="contact-right">
									<p>Telephone </p><span> +254-717-828-927 </span>
								</div>
								<div class="clearfix"> </div>
							</div>
							<div class="mail-agileits-w3layouts">
								<i class="fa fa-envelope-o" aria-hidden="true"></i>
								<div class="contact-right">
									<p>Mail </p><a href="mailto:client@dtechnologies.co.ke">client@dtechnologies.co.ke </a>
								</div>
								<div class="clearfix"> </div>
							</div>
							<div class="mail-agileits-w3layouts">
								<i class="fa fa-map-marker" aria-hidden="true"></i>
								<div class="contact-right">
									<p>Location</p><span> we are an online IT shop dedicated to serving our clients.  </span>
								</div>
								<div class="clearfix"> </div>
							</div>

							<div class="mail-agileits-w3layouts">
								<i class="fa fa-clock-o" aria-hidden="true"></i>
								<div class="contact-right">
									<p>Hours of operation</p><span>
									
																	<table>
								<tr><th>Sunday:</th><td>Closed</td></tr>
								<tr><th>Monday:</th><td>9am - 5pm</td></tr>
								<tr><th>Tuesday:</th><td>9am - 5pm</td></tr>
								<tr><th>Wednesday:</th><td>9am - 5pm</td></tr>
								<tr><th>Thursday:</th><td>9am - 5pm</td></tr>
								<tr><th>Friday:</th><td>9am - 5pm</td></tr>
								<tr><th>Saturday:</th><td>9am - 5pm</td></tr>
								</table>
								

									  </span>
								</div>
								<div class="clearfix"> </div>
							</div>
							
					</div>
					<div class="col-md-6 contact-form">
						<h4 class="white-w3ls">Send us <span>A message</span></h4>
						<form action="#" method="post">
						{% csrf_token %}
							<div class="styled-input agile-styled-input-top">
								<input type="text" name="name" required="">
								<label>Name</label>
								<span></span>
							</div>
							<div class="styled-input">
								<input type="email" name="email" required=""> 
								<label>Email</label>
								<span></span>
							</div> 
							<div class="styled-input">
								<input type="text" name="subject" required="">
								<label>Subject</label>
								<span></span>
							</div>
							<div class="styled-input">
								<textarea name="message" required=""></textarea>
								<label>Message</label>
								<span></span>
							</div>	 
							<input type="submit" value="SEND">
						</form>
					</div>
				</div>
				<div class="clearfix"> </div>
			</div>
       </div>
	</div>
 <!--//contact-->
<!--/grids-->
<!--grids-->
{% endblock content %}
<!-- footer -->
