{% extends 'index.html' %}

{% block title %}
<title>success | Dynamic TechNologies</title>
<meta property="og:locale" content="en_US" />
<meta property="og:site_name" content="Dynamic TechNologies" />
<meta property="og:title" content="Dynamic TechNologies | Message" />
<meta property="og:url" content="https:www//dtechnologies.co.ke" />
<meta property="og:type" content="website" />
<meta property="og:image" content="images/favicon.png">
<meta name="robots" content="noindex, nofollow">
<meta name="keywords" content="Dynamic TechNologies message" />
<meta name="description" content="Dynamic TechNologies email success messages" />

{% endblock title %}
<!-- //Modal2 -->
<!-- /banner_bottom_agile_info -->

{% block content %}

<div style="margin-top: 20px;">
	<p style="text-align: center;">{{message}}</p>
</div>
{% endblock content %}
<!-- footer -->
{% block footer %}
	{% endblock footer %}
