{% extends 'index.html' %}

{% block title %}
<title>Newsletter | Dynamic TechNologies</title>
<meta property="og:locale" content="en_US" />
<meta property="og:site_name" content="Dynamic TechNologies" />
<meta property="og:title" content="Newsletter | Dynamic TechNologies" />
<meta property="og:url" content="https://www.dtechnologies.co.ke" />
<meta property="og:type" content="website" />
<meta property="og:image" content="{% static 'images/favicon.png' %}" />
<meta name="robots" content="noindex, nofollow">
<meta name="keywords" content="Dynamic TechNologies Newsletters" />
<meta name="description" content="Dynamic TechNologies is dedicated to keeping their clients up-to-date by sending promotion emails" />

{% endblock title %}
<!-- //Modal2 -->
<!-- /banner_bottom_agile_info -->

{% block content %}

</div>
   <div class="banner_bottom_agile_info">
	<div class="container">
	   <div class="agile-contact-grids">
				<div class="agile-contact-left">

					
					<div class="col-md-12 contact-form" style="text-align:center">
						<h4 class="white-w3ls">Send <span>Newsletter</span></h4>
						{{message}}
					</div>
				</div>
				<div class="clearfix"> </div>
			</div>
       </div>
	</div>
 <!--//contact-->
<!--/grids-->
<!--grids-->
{% endblock content %}
<!-- footer -->
